appdirs==1.4.4
asgiref==3.4.1
attrs==21.2.0
autopep8==1.5
cached-property==1.5.2
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.4
decorator==4.4.2
distlib==0.3.1
Django==3.2.6
django-render-partial==0.4
filelock==3.0.12
idna==2.9
imageio==2.9.0
imageio-ffmpeg==0.4.4
isodate==0.6.0
lxml==4.6.4
Pillow==8.3.2
platformdirs==2.4.0
proglog==0.1.9
pycodestyle==2.5.0
pyodbc==4.0.30
pytz==2021.1
requests==2.23.0
requests-file==1.5.1
requests-toolbelt==0.9.1
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
subprocess.run==0.0.8
termcolor==1.1.0
termcolor2==0.0.3
tqdm==4.62.0
urllib3==1.25.8
virtualenv==20.0.31
zeep==4.1.0
