.HeaderBase[Place='Other'] {
    background: #404040;
    box-shadow: 0 2px 8px rgba(50, 50, 50, 0.3);
}

.HeaderBaseFixed {
    background: #404040;
    box-shadow: 0 3px 9px rgba(37, 37, 37, 0.9);
}

.ContentHeaderBaseMobile {
    background: #404040;
    box-shadow: 0 3px 9px rgba(37, 37, 37, 0.9);
}

.ContianerIconHamburgerMenu img {
    opacity: 1;
}


#ContainerMenuHamburger {
    background: #282828;
}

#ContainerMenuHamburger:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(40, 40, 40, 0.4);
    z-index: -1;
}

#ContainerMenuHamburger:after {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(40, 40, 40, 0.2);
    z-index: -1;
}

#ContentMenuHamburger .CotnainerBtnUserBase {
    background: #383838;
    box-shadow: 0 3px 6px #222222;
}

.BtnsHeaderMenu .BtnHeaderBase {
    color: #e5e5e5;
}

.BtnsHeaderBase .BtnHeaderBase {
    color: #e5e5e5;
}

.BtnsHeaderBase .BtnHeaderBase:hover {
    color: #ffffff;
}

.BtnsHeaderBase .BtnHeaderBase:focus {
    color: #ffffff;
}

.ContainerLogoBase{
    background: var(--ColorBase);
}

.ContainerLogoBase:after{
    display: none;
}

.ContainerLogoBase img{
    filter: brightness(0) invert(1);
}

.CotnainerBtnUserBase {
    box-shadow: 0 3px 5px #333333;
    background: var(--ColorBase);
}

.CotnainerBtnUserBase i{
    color: #ffffff;
}

.ContainerBtnChangeTheme {
    box-shadow: 0 3px 5px #333333;
    background: var(--ColorBase);
}

#ContentMenuHamburger .BtnHeaderBaseUser {
    color: #ffffff;
}

