{% load static %}

<footer class="FooterBase">
    <div class="ContianerToTopFooter">
        <i class="fa fa-angle-up" title="برو بالا" onclick="GoToTopPage()"></i>
    </div>
    <div class="ContentFooterBase">
        <div class="ContainerUlFooterBase">
            <ul>
                <li>
                    <a href="/">خانه</a>
                </li>
                <li>
                    <a href="/#AboutUs">درباره ما</a>
                </li>
                <li>
                    <a href="/#GoalUs">هدف ما</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/User/Panel?CreateForm">ساخت فرم</a>
                </li>
                <li>
                    <a href="/User/LoginRegister?Login">ورود به حساب کاربری</a>
                </li>
                <li>
                    <a href="/User/LoginRegister?Register">ایجاد حساب کاربری</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/Learn">اموزش</a>
                </li>
                <li>
                    <a href="/#FAQ">سوالات متداول</a>
                </li>
                <li>
                    <a href="/ContactUs">تماس با ما</a>
                </li>
            </ul>
        </div>
        <div class="ContainerLogoAndPowveredByFooterBase">
            <div>
                <p class="TitleDigitForm">دیجیت فرم</p>
                <p class="TitlePoweredBy">
                    قدرت گرفته از <a href="http://codevar.ir">کدوار</a>
                </p>
            </div>
            <img src="/Assets/Img/Logo/Logo.jpg" alt="Logo" class="LogoFooterBase">
        </div>
    </div>
    <div class="TextCopyRight">
        <p>تمامی حقوق مادی و معنوی این سایت متعلق به مجموعه <a href="http://codevar.ir"
                                                                                     target="_blank">کدوار</a> میباشد .
        </p>
        <p class="Small mt-2" dir="ltr">
        2022 - <a href="http://fazelmomeni.codevar.ir">Fazel Momeni</a>
        </p>
    </div>
</footer>
